<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam Hemzal - SW & technology enthusiast who loves building for the web</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="software, technology, enthusiast, web developer, developer, javascript, analysis, analyst,">
    <meta name="description" content="Adam Hemzal is a software & technology enthusiast who loves building for the web." >
    <meta name="author" content="Adam Hemzal" >

    <!-- preconnect fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800|Open+Sans:400,700&display=swap" crossorigin>

    <!-- socials -->
    <meta property="og:title" content="Adam Hemzal - SW & technology enthusiast">
    <meta property="og:description" content="SW & technology enthusiast who loves building for the web">
    <meta property="og:image" content="{{root}}/me/adam-hemzal-drawing-optimized.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Adam Hemzal">
    <meta property="og:url" content="https://adamhemzal.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{root}}/me/adam-hemzal-drawing-optimized.png">
    <meta name="twitter:title" content="Adam Hemzal - SW & technology enthusiast" />
    <meta name="twitter:site" content="@adamhemzal">

    <!-- Include favicon - https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{root}}img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}img/icon/favicon-16x16.png">
    <link rel="manifest" href="{{root}}img/icon/site.webmanifest">
    <link rel="mask-icon" href="{{root}}img/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#3B3A3A" />

    <!-- Include fonts-->
    <link rel='dns-prefetch' href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,800|Open+Sans:400,700&display=swap' />
    <link rel="stylesheet" type="text/css" media="all" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800|Open+Sans:400,700&display=swap">
    
    <!-- Include CSS-->
    <link rel="stylesheet" type="text/css" href="{{root}}css/style.min.css">

    <script src="{{root}}js/jquery.min.js" defer></script>
    <script src="{{root}}js/lazysizes.min.js" defer></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158748330-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158748330-1');
    </script>

    <!-- Include humans.txt-->
    <link rel="author" type="text/plain" href="{{root}}humans.txt">

</head> 
<body>


    {{> nav-header}}
    {{> body}}
    {{> footer}}


    {{#ifpage 'molcik'}}
    <script src="{{root}}js/slick.min.js" defer></script>
    <script src="{{root}}js/slick-run.min.js" defer></script>
    {{/ifpage}}
    <script src="{{root}}js/app.min.js" defer></script>

    <span style="display: none;">Background pattern from Toptal Subtle Patterns</span>

</body>
</html>