* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-body-text;
    font-size: 62.5%; //10px
/*     @include for-tablet-landscape {
        font-size: 73.5%;
    }
    @include for-tablet-portrait {
        font-size: 80%;
    }
    @include for-phone  {
        font-size: 85%;
    } */
}

img {
    max-width: 100%;
    width: 100%;
}

a:not(.brand):not(.btn):not(.icon-fontello):not(.contact-mail) {
  color: tomato;
  text-decoration: none;
  font-weight: 700;
  transition-duration: 0.2s;
  transition-property: color, border-bottom, background-color;
  border-bottom: 0.15rem solid $primary-anchor;
  &:hover {
    color: $secondary-anchor;
    border-bottom: 0.15rem solid $secondary-anchor;
    text-decoration: none;
    background-color: tomato;
  }
}

h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    font-family: $font-header;
    font-weight: 800;
    line-height: 1.25;
}

/*
h1 {
  font-size: 7.576rem;
  line-height: 1.333em;
}
*/

h1 {
  font-size: 5.493rem;
}

h2 {
  font-size: 4.263rem;
}

h3 {
  font-size: 3.198rem;
}

h4 {
  font-size: 2.39rem;
}

p, a {
  font-size: 1.8rem;
  margin: 0;
}

nav {
  height: 8.5rem;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      display: inline;
      list-style-type: none;
    }
  }
  ul:nth-child(2) {
    li:not(:last-child) {
      padding-right: 3rem;
    }
  }
}

.icon-down-open {
  font-size: 2.5rem;
}

.icon-fontello {
  font-size: 3.5rem;
}

.subheading {
  font-weight: 400;
  font-size: 3.198rem;
  padding: 1.3rem 0rem;
}

.project-tag, .footer-description {
  font-size: 1.35rem;
}

.brand, .icon-fontello, .contact-mail {
  color: $primary-black;
  &:hover {
    text-decoration: none;
    color: $primary-black;
  }
}

.brand-text {
  font-weight: 700;
}

.btn {
  font-family: $font-header;
  font-size: 2.39rem;
  font-weight: 400;
  margin-top: .25rem;
  margin-bottom: .25rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: .5rem 2rem;
  border: .15rem solid $primary-black;
  border-top-left-radius: $border-top-left-radius;
  border-top-right-radius: $border-top-right-radius;
  border-bottom-right-radius: $border-bottom-right-radius;
  border-bottom-left-radius: $border-bottom-left-radius;
  transition-duration: 0.3s;
  transition-property: transform, box-shadow;
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $primary-black;
  color: $secondary-white;
  &:hover {
    color: $secondary-white;
    transform: scale(1.1);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
}

.btn-secondary {
  background-color: transparent;
  color: $primary-black;
  &:hover {
    color: $primary-black;
    transform: scale(1.1);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
}

.section-projects-background {
  background-image: url("../img/background/graphy-40.png");
}

.section-contact-background {
  background-image: url("../img/background/email-pattern-45.png");
}

.footer-background {
  background-color: $primary-black;
  color: $secondary-white;
}

.border-right {
  border-right: 0.15rem solid $border-grey;
  @include for-tablet-landscape {
    border: none;
  }
}

.hide-mobile {
  @include for-tablet-portrait {
    display: none;
  }
}
