* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-body-text;
    font-size: 62.5%; //10px
    @include for-tablet-landscape {
        font-size: 73.5%;
    }
    @include for-tablet-portrait {
        font-size: 80%;
    }
    @include for-phone  {
        font-size: 85%;
    }
}

img {
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    font-family: $font-header;
    font-weight: 800;
    line-height: 1.15;
}

/*
h1 {
  font-size: 7.576rem;
  line-height: 1.333em;
}
*/

h1 {
  font-size: 5.493rem;
}

h2 {
  font-size: 4.263rem;
}

h3 {
  font-size: 3.198rem;
}

h4 {
  font-size: 2.39rem;
}

p, a {
  font-size: 1.8rem;
}

nav {
  ul {
    margin: 0;
    li {
      margin: 0;
      display: inline;
      list-style-type: none;
    }
  }
}

.subheading {
  font-weight: 400;
  font-size: 3.198rem;
}

.btn-primary {
  border: none;
  background-color: $primary-black;
  color: $secondary-white;
  &:hover {
    color: $secondary-white;
    text-decoration: none;
  }
}

.btn-secondary {
  border: 2px solid $primary-black;
  background-color: transparent;
  color: $primary-black;
  &:hover {
    color: $primary-black;
    text-decoration: none;
  }
}
