* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-body-text;
    font-size: 62.5%; //10px
    @include for-tablet-landscape {
        font-size: 73.5%;
    }
    @include for-tablet-portrait {
        font-size: 80%;
    }
    @include for-phone  {
        font-size: 85%;
    }
}

img {
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    font-family: $font-header;
    font-weight: 800;
    line-height: 1.25;
}

/*
h1 {
  font-size: 7.576rem;
  line-height: 1.333em;
}
*/

h1 {
  font-size: 5.493rem;
}

h2 {
  font-size: 4.263rem;
}

h3 {
  font-size: 3.198rem;
}

h4 {
  font-size: 2.39rem;
}

p, a {
  font-size: 1.8rem;
  margin: 0;
}

nav {
  ul {
    margin: 0;
    li {
      margin: 0;
      display: inline;
      list-style-type: none;
    }
  }
}

.subheading {
  font-weight: 400;
  font-size: 3.198rem;
  padding: 1.3rem 0rem;
}

.project-tag {
  font-size: 1.35rem;
}

.btn {
  font-family: $font-header;
  font-size: 2.39rem;;
  margin-top: .25rem;
  margin-bottom: .25rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: .5rem 2rem;
  border: .15rem solid $primary-black;
  border-top-left-radius: 25.5rem 1.5rem;
  border-top-right-radius: 1.5rem 22.5rem;
  border-bottom-right-radius: 22.5rem 1.5rem;
  border-bottom-left-radius:1.5rem 25.5rem;
  transition-duration: 0.3s;
  transition-property: transform, box-shadow;
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $primary-black;
  color: $secondary-white;
  &:hover {
    color: $secondary-white;
    transform: scale(1.1);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
}

.btn-secondary {
  background-color: transparent;
  color: $primary-black;
  &:hover {
    color: $primary-black;
    transform: scale(1.1);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
}
