// FONTS
$font-body-text: 'Open Sans', Helvetica, sans-serif;
$font-header: 'Nunito Sans', Helvetica, sans-serif;

// COLORS
$primary-black: #3B3A3A;
$secondary-white: #fff;
$secondary-grey: #A2A2A2;
$secondary-anchor: #E66640;

// BORDER RADIUS
$border-radius: 5px;
