// FONTS
$font-body-text: 'Open Sans', Helvetica, sans-serif;
$font-header: 'Nunito Sans', Helvetica, sans-serif;

// COLORS
$primary-black: #3B3A3A;
$secondary-white: #fff;
$secondary-grey: #A2A2A2;
$border-grey: #CCCCCC;
$primary-anchor: #F18701;
$secondary-anchor-background: lighten($primary-anchor, 45%);
$secondary-anchor: darken($primary-anchor, 5%);

// BORDER RADIUS
$border-top-left-radius: 25.5rem 1.5rem;
$border-top-right-radius: 1.5rem 22.5rem;
$border-bottom-right-radius: 22.5rem 1.5rem;
$border-bottom-left-radius:1.5rem 25.5rem;
$slick-border-radius: 0.3rem;
