<section id="contact" class="section-contact-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6 padding-top-bot-5rem">
                <h2>Get in touch</h2>
                <div>
                    <p id="contact-mail-append" class="text-padding-top-bot text-padding-right">Do you like my work? I enjoy discussing new ideas and challanges. I'm currently <strong>AVAILABLE</strong> for <strong>new projects</strong> or <strong>full-time job offers!</strong> If you are interested in my work you can contact me via email or reach me at LinkedIn. I'm looking forward to hearing from you!</p>
                    
                    <div class="text-padding-top-bot">
                        <a class="icon-fontello" href="https://www.linkedin.com/in/adam-hemzal" target="_blank"><i class="icon-linkedin-squared" aria-hidden="true"></i></a>
                        <a class="icon-fontello" href="https://github.com/adamhemzal" target="_blank"><i class="icon-github-squared" aria-hidden="true"></i></a>
                        <a class="icon-fontello" href="https://twitter.com/adamhemzal?lang=en"><i class="icon-twitter-squared" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>