<header class="container-fluid">
    <div class="container">
        <nav role="navigation" class="row">
        
            <div class="col-md-12 flex-justify-brand">
                <ul>
                    <li class="brand-home-icon"><a class="icon-fontello" href="#"><i class="icon-home" aria-hidden="true"></i></a></li>
                    <li>
                        <a href="{{root}}index.html" class="brand">
                            <span class="brand-text">Adam Hemžal</span>
                        </a>
                    </li>
                </ul>

                <ul>
                    <li><a href="{{root}}index.html#projects">Projects</a></li>
                    <li><a href="{{root}}index.html#about">About</a></li>
                    <li><a href="{{root}}index.html#contact">Contact</a></li>
                </ul>
            </div>

        </nav>    
    </div>
</header>