<section id="about" class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 padding-top-bot-5rem">
            <h2>Hello,</h2>
            <div class="border-right">
                <p class="text-padding-top-bot text-padding-right">I'm Adam Hemzal, software & technology enthusiast who loves to build for the web. I'm a fresh (2020) graduate with master's degree from Faculty of Informatics and Statistics at University of Economics in Prague.</p>
                <p class="text-padding-top-bot text-padding-right">I'm a person who likes to learn new things every day especially in technology, psychology and business field. I believe in the importance of communication, team work and openness on projects to be successful. I love to challenge myself every single day.</p>
                <p class="text-padding-top-bot text-padding-right">For more information about my skills and career you can check my <a href="#" target="_blank">CV</a>, <a href="https://www.linkedin.com/in/adam-hemzal" target="_blank">LinkedIn</a>, <a href="https://github.com/adamhemzal" target="_blank">GitHub</a> or <a href="projects.html">my portfolio</a>.</p>
            </div>
        </div>
        <div class="col-lg-6 padding-top-bot-5rem">
            <div class="slider">
                
                <div>
                    <div class="testimonial-container-header">
                        <img class="lazyload testimonial-image" data-src="img/companies-icons/koala42-logo.svg" alt="KOALA42 logo">
                        <div>
                            <a href="https://koala42.com/" target="_blank">KOALA42</a>
                            <p class="testimonial-name">Jan Jelínek</p>
                            <p class="testimonial-position">Co-founder</p>
                        </div>
                    </div>
                    <p class="testimonial-text">Čišela přišly vyššího pištory jít nenechá. Au ptám zácpy víc všechny poupátko. No ex slz kousal abych. O zřídili šach pánovi forma. Bez muž curych a informace knize smál, no pádí jejím grusona ukaž.</p>
                </div>

                <div>
                    <div class="testimonial-container-header">
                        <img class="lazyload testimonial-image" data-src="img/companies-icons/salonkhaleesi-logo.svg" alt="Salon Khaleesi logo">
                        <div>
                            <a href="https://koala42.com/" target="_blank">Salon Khaleesi</a>
                            <p class="testimonial-name">Pavla Šídlová</p>
                            <p class="testimonial-position">Business Owner</p>
                        </div>
                    </div>
                    <p class="testimonial-text">Čišela přišly vyššího pištory jít nenechá. Au ptám zácpy víc všechny poupátko. No ex slz kousal abych. O zřídili šach pánovi forma. Bez muž curych a informace knize smál, no pádí jejím grusona ukaž.</p>
                </div>

            </div>

        </div>
    </div>
</section>