<section id="about" class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 padding-top-bot-5rem">
            <h2>Hello,</h2>
            <div class="border-right">
                <p class="text-padding-top-bot text-padding-right">I'm Adam Hemžal, software & technology enthusiast who loves building for the web. I'm a fresh (2020) graduate with master's degree from Faculty of Informatics and Statistics at University of Economics in Prague.</p>
                <p class="text-padding-top-bot text-padding-right">I'm a person who likes to learn new things every day especially in technology, psychology and business field. I believe that the key to successfull project is in the importance of communication, team work and openness. I love challenging myself.</p>
                <p class="text-padding-top-bot text-padding-right">For more information about my skills and career you can check my <a id="cv-link" href="adam-hemzal-cv-2020.pdf" target="_blank">CV</a>, <a href="https://www.linkedin.com/in/adam-hemzal" target="_blank">LinkedIn</a>, <a href="https://github.com/adamhemzal" target="_blank">GitHub</a> or <a href="projects.html">my portfolio</a>.</p>
            </div>
        </div>
        <div class="col-lg-6 padding-top-bot-5rem">
            <div class="slider">
                
                <div>
                    <div class="testimonial-container-header">
                        <img class="lazyload testimonial-image" data-src="img/companies-icons/koala42-logo.svg" alt="KOALA42 logo">
                        <div>
                            <a href="https://koala42.com/" target="_blank">KOALA42</a>
                            <p class="testimonial-name">Filip Molčík</p>
                            <p class="testimonial-position">Co-Founder</p>
                        </div>
                    </div>
                    <p class="testimonial-text">Adam is very hardworking and consistent person. Thanks to his friendly and professional approach to work, the cooperation with Adam was interesting for us.</p>
                </div>

            </div>

        </div>
    </div>
</section>